.chat_content {
    height: 600px;
}

.chat_wrap {
    height: 648.5px;
    border: 1px dashed #d8d8d8;
    border-radius: 5px;
}

.chattingbox {
    height: 565px;
    overflow-y: auto;       /*세로(수직) 스크롤바 표시*/
    overflow-x: hidden;     /*가로(수평) 스크롤바를 숨김*/
}

.chatting {
    /*height: 100%;*/
    /*width: 100%;*/
    /*height: fit-content;*/
}

.studyTitle {
    font-weight: bold;
    background-color: #f6f6f6;
    color: black;
    border-radius: 5px;
    position: relative;
    height: 50px;
    padding: 0 20px;
}
.studyTitle>p{
    font-size: 15px;
    margin: auto;
    padding-bottom: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message-head {
    margin: 5px auto;
    text-align: center;
    font-weight: bold;
}

#message-thead{
    position: relative;
    /*left: 53px;*/
}
#message {
    font-size: 15px;
    /*position: relative;*/
    top: 10px;
}

.message-detail {
    padding: 10px;
}
.greet{
    position: relative;
    margin: 10px 5%;
    max-width: 95%;
}
.my-chats{
    background-color: #F0EBC8;
    height: fit-content;
    border-radius: 10px;
    position: relative;
    margin: 10px 5%;
    max-width: 95%;
    word-break: break-word;
    word-wrap: break-word;
    white-space: normal;
}
.other-chats{
    background-color: #CCE4C3;
    height: fit-content;
    border-radius: 10px;
    position: relative;
    margin: 10px 5%;
    max-width: 95%;
    word-break: break-word;
    word-wrap: break-word;
    white-space: normal;
}
#entry-time{
    font-size: 10px;
    margin-bottom: 0px;
}
.my-chats  .entry-time{
   position: relative;
}

.input_chat{
    margin-top: -5px;
}
label{
    margin-left: 10px;
    margin-right: 10px;
}
.input_chat input{
    width: 50%;
    height: 25px;
    padding-left: 10px;
}
.input_chat input::placeholder{

}
.input_chat button{
    width: 15%;
    height: 25px;
    margin-left: 10px;
    background-color: #7A8E6D;
    color: #F2F2F2;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}